*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #b1b9e4;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


form{
    background-color: #4343b0;
    padding: 20px;
    border-radius: 15px;
}


form input{
    color: #fff;
    background-color: transparent;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(255, 255, 255, 0.109);
    font-size: 20px;
    margin: 10px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
}


.display{
     display: flex;
     justify-content: flex-end;
     margin: 20px 0;
}


.display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}


.equal{
    width: 145px;
}


